@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  background:#fcf3ec;
  
}

#exit {
  height:30px;
  width:30px;
  background:hwb(150 24% 7%);
  border: 1px solid black;
  border-radius:50px;
  position:Absolute;
  top:-30px;
  z-index:50;
  right:-15px;
  -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
}
#exit:after {
  content:"";
  display:block;
  height:15px;
  width:15px;
  background:transparent;
  border-radius:50px;
  position:absolute;
  top:5px;
  left:5px;
  
  border:3px solid orange;
  border-top-color:transparent;
  
}

#exit:before {
  content:"";
  display:block;
  height:10px;
  width:3px;
  background:orange;
  z-index:70;
  position:Absolute;
  right:13px;
  top:6px;
  
}
#circle {
  height:40px;
  width:40px;
  background:transparent;
  border:1px solid white;
  border-radius:50px;
  position:absolute;
  top:-35px;
  z-index:40;
  right:-20px;
  
}

#exit:hover {
  background:#7A0000;
  
}



#allthethings {
  width:0px;
  height:0px;
  
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 500px solid transparent;
  border-radius: px;
  position:relative;
  margin:auto;
  top:5px;
  left:2px;
  
  
  
  
  
  
}

#single {
  
  position:relative;
  bottom:330px;
  right:300px;
  height:80px;
  width:600px;
  background:hwb(150 24% 7%);
  text-align:center;
  font-size:50px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font-family:shadows into light;
  
  cursor:pointer;
  
  
  
}

#single:hover {
  background:#7A0000;
  color:white;
-webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
  
  
}



#credits:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
}

#options:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
}

#left {
  height:100px;
    width:600px;
  background:#fcf3ec;
  position:absolute;
  z-index:6;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  top:-175px;
  right:-104px;

  
}
#right {
  height:100px;
  width:600px;
  background:#fcf3ec;
  position:absolute;
  top:-229px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  z-index:7;
  left:-56px;

  
  
}



#single p {
  position:relative;
  top:2px;
  right:4px;
  
  
}


#options {
  
  height:50px;
  width:410px;
  background:hwb(150 24% 7%);
  position:relative;
  bottom:360px;
  right:200px;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
}

#options p {
  position:relative;
  top:0px;
  right:4px;
  
}

#credits {
  height:50px;
  width:300px;
  position:relative;
  background:hwb(150 24% 7%);
  bottom:375px;
  font-size:30px;
  right:150px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
}

#credits p {
  position:relative;
  top:0px;
  
}

.button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1{

  width:0px;
  height:0px;
  
  border-left: 190px solid transparent;
  border-right:400px solid transparent;
  border-top: 50px solid transparent;
  border-radius: px;
  position:relative;
  margin:auto;
  top:5px;
  left:2px;
  font-size: 70px;
}



footer{
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    padding: 30px;
        color: white;
        text-decoration:none;
      }